<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Registro de usuario</h3>
  <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">

    <div class="form-group">
      <label>Usuario: </label>
      <input type="text" class="form-control" id="userName" [(ngModel)]="usuario.userName" name="userName" required
        minlength="4" maxlength="10" placeholder="Digite su userName " #userName="ngModel">
      <div class="alert alert-danger" *ngIf="userName.invalid && (userName.dirty || userName.touched)">
        <div *ngIf="userName.errors?.['required']">
          Digite su usuario por favor
        </div>
        <div *ngIf="userName.errors?.['minlength']">
          El usuario tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf="userName.errors?.['maxlength']">
          El usuario tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Nombre : </label>
      <input type="text" class="form-control" id="firstname" [(ngModel)]="usuario.firstName" name="firstname" required
        minlength="4" maxlength="10" placeholder="Digite su nombre " #firstName="ngModel">
      <div class="alert alert-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div *ngIf="firstName.errors?.['required']">
          Digite su nombre por favor
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
          El nombre tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf="firstName.errors?.['maxlength']">
          El nombre tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Apellido : </label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="usuario.lastName" name="lastName" required
        minlength="4" maxlength="10" placeholder="Digite su apellido " #lastName="ngModel">
      <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <div *ngIf="lastName.errors?.['required']"></div>
        Digite su apellido por favor
      </div>
      <div *ngIf="lastName.errors?.['minlength']">
        El apellido tiene que contener como minimo 4 caracteres
      </div>
      <div *ngIf="lastName.errors?.['maxlength']">
        El apellido tiene que tener como maximo 10 caracteres
      </div>
    </div>

    <div class="form-group">
      <label>Contraseña : </label>
      <input type="password" class="form-control" id="password" [(ngModel)]="usuario.password" name="password" required
        minlength="8" placeholder="Digite su Contraseña" #password="ngModel">
      <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']"></div>
        Digite su password por favor
      </div>
      <div *ngIf="password.errors?.['minlength']">
        El password tiene que contener como minimo 8 caracteres
      </div>
    </div>

    <div class="form-group">
      <label>Rol : </label>
      <input type="number" class="form-control" id="idRole" [(ngModel)]="usuario.idRole" name="idRole" required
        placeholder="Digite su rol" #idRole="ngModel">
      <div class="alert alert-danger" *ngIf="idRole.invalid && (idRole.dirty || idRole.touched)">
        <div *ngIf="idRole.errors?.['required']"></div>
        Digite su rol por favor
      </div>
    </div>

    <button class="btn btn-success">Guardar</button>
  </form>
</div>