<h2>Lista Usuarios</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.id}}</td>
        <td>{{usuario.userName}}</td>
        <td>{{usuario.firstName}}</td>
        <td>{{usuario.lastName}}</td>
      <td>
        <button (click)= "actualizarUsuario(usuario.id)" class="btn btn-info">Editar</button>
        <button (click)= "eliminarUsuario(usuario.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
        <button (click)= "verDetallesDelUsuario(usuario.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
